.mood-songs
{
    width:100%;
    padding:4rem;
    padding-top:0;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mood-songs h2
{
    margin-bottom:1rem;
}

.mood-songs .song {
    display:flex;
    width:100%;
    justify-content: space-between;
    margin:0.5rem 0;
}
